
:root {
    --background-color: #47c4f2;
    --board-color: white;
}

* {
    font-family: sans-serif;
}

body {
    margin: 0;
    background: var(--background-color);
}

#board {
    top: 0;
    left: 0;
    width: 48vw;
    height: 48vw;
    background: var(--board-color);
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#board div {
    width: 4.5vw;
    height: 4.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#board div span {
    font-size: 1.8vw;
    font-weight: 800;
}

.selection {
    position: absolute;
    width: 4.5vw;
    height: 42.75vw;
    top: 0.5vw;
    left: 1.5vw;
    border-radius: 1vw;
    transform-origin: 2.25vw 2.25vw;
    pointer-events: none;
}

#text {
    position: absolute;
    left: 48vw;
    width: 52vw;
    text-align: center;
    color: white;
    font-size: 1.75vw;
    font-weight: 900;
}

#available-words {
    position: absolute;
    left: 51vw;
    width: 49vw;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.5vw;
    font-weight: 600;
    color: white;
    gap: 5vw;
    flex-wrap: wrap;
    top: 10vw;
}

#available-words span {
    text-decoration-color: black;
    text-decoration-thickness: 3;
}

#end {
    display: none;
    position: absolute;
    left: 48vw;
    top: 35vw;
    width: 52vw;
    text-align: center;
    flex-direction: column;
    color: white;
    font-size: 2vw;
    font-weight: 800;
    text-transform: uppercase;
}

#end button {
    top: 3vw;
    position: absolute;
    width: 16vw;
    height: 4vw;
    margin-left: 18vw;
    margin-top: 1vw;
    padding: 1vw;
    border: 0.1vw solid rgb(62, 161, 62);
    outline: none;
    border-radius: 0.3vw;
    font-size: 1.1vw;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
    background-color: rgb(83, 216, 83);
    color: white;
}

#end button:hover {
    width: 18vw;
    height: 4.5vw;
    margin-left: 17vw;
}